body{
  margin: 0;
}

.container{
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tic-tac-toe-board{
  padding: 10px;
  height: 500px;
  width: 500px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

.clickable-box{
  font-size: 120px;
}

.new-game-btn{
  margin-top: 40px;
  height: 80px;
  width: 250px;
  font-size: 30px;
}

.winner-box{
  position: fixed;
  top: 30%;
  height: 300px;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 15px;
}

.player-name-inputs{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.p-label-input label{
  display: inline-block;
  width: 250px;
}

.p-label-input{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-label-input input {
  font-size: 30px;
  width: 200px;
}